<template>
  <div class="checkbox" @click="updateStatus(id)">
    <div v-if="status" class="checkbox-checked"></div>
  </div>
</template>

<script>
export default {
  name: 'CheckboxItem',
  props: {
    status: Boolean,
    id: Number,
    updateStatus: Function
  }
}
</script>


<style scoped>
  .checkbox {
    background: #FFFFFF;
    border: 1px solid #41B883;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    box-sizing: border-box;
  }

  .checkbox-checked {
    background: #41B883;
    width: 15px;
    height: 15px;
  }
</style>
