<template>
  <li class="todo-status" @click="onSelect" v-if="visible">
    <span name="all" v-bind:class="getSelectedClass('all')">All</span>
    <span name="done"  v-bind:class="getSelectedClass('done')">Compleated</span>
    <span name="active" v-bind:class="getSelectedClass('active')">Not done</span>
  </li>
</template>

<script>
export default {
  name: 'TodoStatus',
  props: {
    visible: Boolean,
    selected: String,
    onSelect: Function
  },
  methods: {
    getSelectedClass: function(value) {
      return {
        'todo-status__item': true,
        'todo-status__item-selected': value === this.selected
      }
    }
  }
}
</script>

<style scoped>
  .todo-status {
    background: rgba(255,255,255 0.3);
    display: grid;
    width: 100%;
    margin-bottom: 20px;
    grid-template-columns: repeat(3, 1fr);
    padding: 0 8px;
    align-items: center;
    justify-items: center;
  }

  .todo-status__item {
    cursor: pointer;
    display: block;
    font-size: 1em;
  }

  .todo-status__item-selected {
    color: #41B883;
  }
</style>
