<template>
  <li class="items__list__item">
    <span class="items__list__item__span-operator" style="text-align: left">
      <checkbox-item
        v-bind:status="item.status"
        v-bind:id="item.id"
        v-bind:updateStatus="updateStatus"
      />
    </span>
    <span v-bind:class="getStatusClass(item.status)">{{item.value}}</span>
    <span class="items__list__item__span--small" @click="deleteTodo(item.id)">delete</span>
  </li>
</template>

<script>
  import CheckboxItem from './CheckboxItem.vue';

  export default {
    name: 'TodoItem',
    props: {
      deleteTodo: Function,
      index: Number,
      item: Object,
      updateStatus: Function
    },
    methods: {
      getStatusClass: function(status) {
        return {
          'items__list__item__span': true,
          'striked': Boolean(status)
        }
      }
    },
    components: {
      CheckboxItem
    }
  }
</script>

<style scoped>
  .items__list__item {
    width: 100%;
    height: 40px;;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding: 0 8px;
    cursor: pointer;
  }

  .items__list__item__span {
    flex: 1;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .items__list__item__span-operator {
    width: 30px;
    cursor: pointer;
    font-size: 1.2em;
  }

  .items__list__item__span--small {
    width: 50px;
    cursor: pointer;
  }
</style>
