<template>
  <div id="app">
    <h1>My Todo App</h1>
    <input class="app__input" type="text" v-model="text" @keyup="addTodo" placeholder="add a todo" />
    <ul class="items__list">
      <todo-status
        v-bind:visible=true
        v-bind:selected="selectedFilter"
        v-bind:onSelect=filterItems
      />
      <todo-item
        v-for="(item, index) in filterEdItems"
        v-bind:item=item
        v-bind:index="index"
        v-bind:updateStatus=updateStatus
        v-bind:deleteTodo=deleteTodo
        v-bind:key="index" />
    </ul>
    <p class='app__no-items' v-if="!filterEdItems.length">There are no todos</p>
  </div>
</template>

<script>

// import components
import TodoItem from './components/TodoItem.vue';
import TodoStatus from './components/TodoStatus.vue';


/**
 * filters the items by status
 * @method _filterItems
 * @param {Array} items - list of items
 * @param {String} filter - the selected filter
 */
const _filterItems = (items, filter) => {
  if (filter === 'done') items = items.filter((item) => item.status === true);
  if (filter === 'active') items = items.filter((item) => item.status === false);

  return items;
};
const _getData = () => {
  const storedItems = localStorage.getItem('TODOS__items');
  const selectedFilter = localStorage.getItem('TODOS__selectedFilter');
  const items = storedItems ? JSON.parse(storedItems) : [];
  const filter = selectedFilter ? selectedFilter : 'all'

  return {
    items,
    filterEdItems: _filterItems(items, filter),
    selectedFilter: filter
  }
}

export default {
  name: 'app',
  data: () => ({ ..._getData(), text: '' }),
  methods: {
    addTodo: function($event) {
      if ($event.which === 13) {
        this.text = '';
        this.items.push({ id: Date.now(), status: false, value: $event.target.value });
      }
    },
    filterItems: function(e) {
      if (e.target.tagName === 'SPAN') {
        const filter = e.target.getAttribute('name');
        this.selectedFilter = filter;
        this.filterEdItems = _filterItems(this.items, filter);
      }
    },
    deleteTodo: function(itemId) {
      this.items = this.items.filter(item => item.id !== itemId);
      this.filterEdItems = _filterItems(this.items, this.selectedFilter);
    },
    updateStatus: function(itemId) {
      this.items = this.items.map((item) => item.id === itemId ? { ...item, status: !item.status } : item );
      this.filterEdItems = _filterItems(this.items, this.selectedFilter);
    }
  },
  watch: {
    items: function(newValue) {
      localStorage.setItem('TODOS__items', JSON.stringify(newValue));
    },
    selectedFilter: function(newValue) {
      localStorage.setItem('TODOS__selectedFilter', newValue);
    }
  },
  components: {
    TodoItem,
    TodoStatus
  }
}
</script>

<style>
  body {
    background: #35495E;
    color: #41B883;
    font-size: 16px;
  }

  ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #FFF;
  }
  ::-moz-placeholder { /* Firefox 19+ */
    color: #FFF;
  }
  :-ms-input-placeholder { /* IE 10+ */
    color: #FFF;
  }
  :-moz-placeholder { /* Firefox 18- */
    color: #FFF;
  }

  #app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #FFF;
    width: 300px;
    margin: 60px auto;
    display: flex;
    flex-direction: column;
  }

  .app__input {
    padding: 1em;
    background: #8C97A3;
    border: 0.2em solid #33465A;
    color: #FBF2D4
  }

  .app__input:focus {
    outline: #8A7B4A auto 0.3em;
  }

  .app__no-items {
    margin: 20px 0 10px 0;
  }

  .items__list {
    margin: 20px 0 10px 0;
    padding: 0;
    list-style: none;
    text-align: left;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
</style>
